* {
  box-sizing: border-box;
  }
  html, body {
    height: 100%;
    font-family: sans-serif;
  }
  
  body {
    background: rgb(131,58,180);
  background: linear-gradient(90deg, #2063c7,#009bdf,#3bcbde);
  }

  